/*  globales – Tema Guatemala */
:root {
  --color-primario: #1e3a8a;
  --color-secundario: #3b82f6;
  --color-texto: #fffefe;

  /* Estados */
  --color-Exito: #4caf50; /* Éxito o completado */
  --color-Aviso: #f4a261; /* Aviso cálido */
  --color-error: #e63946; /* Error o alerta */

  /*  */
  --radio: 14px;
  --ancho-max: 1100px;
  --esp: 16px;
}
